{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block styles %}
    {{ super() }}
    <style type="text/css">
        li {
            list-style-type: none;
            margin-bottom: 20px;
        }

        .img-thumbnail {
            padding: 1px;
        }
    </style>
{% endblock %}

{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
    {%- if messages %}
      <div class="row">
    <div class="col-md-12">
      {{utils.flashed_messages(messages)}}
    </div>
      </div>
    {%- endif %}
  {%- endwith %}
    <div class="row">
        <div class="col-md-12">
            <ul>
                {% for profile in profiles %}
                    <li>
                        <div class="media">
                            <div class="media-left">
                                <a href="{{ url_for('profile', profileId=profile['profileId']) }}">
                                    <img class="media-object img-thumbnail" src="https://ubisoft-avatars.akamaized.net/{{ profile['profileId'] }}/default_146_146.png?appId=39baebad-39e5-4552-8c25-2c9b919064e2" alt="{{ profile['name'] }}" height="64" width="64">
                                </a>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">{{ profile['name'] }}</h3>
                                Rank: {{ "{:.2f}".format(profile['rank']['mmr']) }}    W/L: {{ "{:.2f}".format(profile['rank']['wins'] / profile['rank']['losses']) }}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
   </div>
{%- endblock %}
