{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% set weapon_names = [
        "Assault Rifle", "Submachine Gun", "Marksman Rifle", "Shotgun", "Handgun",
        "Light Machine Gun", "Machine Pistol"
    ]
%}

{% set rank_names = [
        "UNRANKED", "COPPER IV", "COPPER III", "COPPER II", "COPPER I",
        "BRONZE IV", "BRONZE III", "BRONZE II", "BRONZE I",
        "SILVER IV", "SILVER III", "SILVER II", "SILVER I",
        "GOLD IV", "GOLD III", "GOLD II", "GOLD I",
        "PLATINUM III", "PLATINUM II", "PLATINUM I", "DIAMOND"
    ]
%}

{% set rank_icons = [
        "https://i.imgur.com/ehILQ3i.jpg",
        "https://i.imgur.com/6CxJoMn.jpg",
        "https://i.imgur.com/eI11lah.jpg",
        "https://i.imgur.com/0J0jSWB.jpg",
        "https://i.imgur.com/42AC7RD.jpg",
        "https://i.imgur.com/QD5LYD7.jpg",
        "https://i.imgur.com/9AORiNm.jpg",
        "https://i.imgur.com/hmPhPBj.jpg",
        "https://i.imgur.com/D36ZfuR.jpg",
        "https://i.imgur.com/m8GToyF.jpg",
        "https://i.imgur.com/m8GToyF.jpg",
        "https://i.imgur.com/EswGcx1.jpg",
        "https://i.imgur.com/KmFpkNc.jpg",
        "https://i.imgur.com/6Qg6aaH.jpg",
        "https://i.imgur.com/B0s1o1h.jpg",
        "https://i.imgur.com/ELbGMc7.jpg",
        "https://i.imgur.com/ffDmiPk.jpg",
        "https://i.imgur.com/Sv3PQQE.jpg",
        "https://i.imgur.com/Uq3WhzZ.jpg",
        "https://i.imgur.com/xx03Pc5.jpg",
        "https://i.imgur.com/nODE0QI.jpg"
    ]
%}

{% set operators = {
    "offense": [
            {
                "name": "GLAZ",
                "id": "2:4",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/Glaz_Badge_229122.png"
            },
            {
                "name": "BLITZ",
                "id": "2:5",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/Blitz_Badge_222164.png"
            },
            {
                "name": "BUCK",
                "id": "2:6",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/R6-operators-badge-buck_237592.png"
            },
            {
                "name": "BLACKBEARD",
                "id": "2:7",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/R6-operators-badge-blackbeard_250312.png"
            },
            {
                "name": "CAPITAO",
                "id": "2:8",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/R6-operators-badge-capitao_263100.png"
            },
            {
                "name": "HIBANA",
                "id": "2:9",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/R6-operators-badge-hibana_275569.png"
            },
            {
                "name": "JACKAL",
                "id": "2:A",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/R6-velvet-shell-badge-jackal_282825.png"
            },
            {
                "name": "ASH",
                "id": "3:2",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/Ash_Badge_196406.png"
            },
            {
                "name": "FUZE",
                "id": "3:4",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/Fuze_Badge_229121.png"
            },
            {
                "name": "IQ",
                "id": "3:5",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/IQ_Badge_222165.png"
            },
            {
                "name": "SLEDGE",
                "id": "4:1",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/Sledge_Badge_196197.png"
            },
            {
                "name": "TWITCH",
                "id": "4:3",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/Twitch_Badge_211297.png"
            },
            {
                "name": "THATCHER",
                "id": "5:1",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/Thatcher_Badge_196196.png"
            },
            {
                "name": "THERMITE",
                "id": "5:2",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/Thermite_Badge_196408.png"
            },
            {
                "name": "MONTAGNE",
                "id": "5:3",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/Montagne_Badge_211295.png"
            },
            {
                "name": "YING",
                "id": "2:B",
                "badge": "https://ubistatic-a.akamaihd.net/0058/prod/assets/images/badge-ying.b88be612.png"
            }
        ],
        "defense": [
            {
                "name": "SMOKE",
                "id": "2:1",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/Smoke_Badge_196198.png"
            },
            {
                "name": "CASTLE",
                "id": "2:2",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/Castle_Badge_196407.png"
            },
            {
                "name": "DOC",
                "id": "2:3",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/Doc_Badge_211294.png"
            },
            {
                "name": "MUTE",
                "id": "3:1",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/Mute_Badge_196195.png"
            },
            {
                "name": "ROOK",
                "id": "3:3",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/Rook_Badge_211296.png"
            },
            {
                "name": "FROST",
                "id": "3:6",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/R6-operators-badge-frost_237595.png"
            },
            {
                "name": "VALKYRIE",
                "id": "3:7",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/R6-operators-badge-valkyrie_250313.png"
            },
            {
                "name": "CAVEIRA",
                "id": "3:8",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/R6-operators-badge-caveira_263102.png"
            },
            {
                "name": "ECHO",
                "id": "3:9",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/R6-operators-badge-echo_275572.png"
            },
            {
                "name": "MIRA",
                "id": "3:A",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/R6-velvet-shell-badge-mira_282826.png"
            },
            {
                "name": "PULSE",
                "id": "4:2",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/Pulse_Badge_202497.png"
            },
            {
                "name": "KAPKAN",
                "id": "4:4",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/Kapkan_Badge_229123.png"
            },
            {
                "name": "JAGER",
                "id": "4:5",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/Jager_Badge_222166.png"
            },
            {
                "name": "TACHANKA",
                "id": "5:4",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/Tachanka_Badge_229124.png"
            },
            {
                "name": "BANDIT",
                "id": "5:5",
                "badge": "https://ubistatic19-a.akamaihd.net/resource/en-GB/game/rainbow6/siege/Bandit_Badge_222163.png"
            },
            {
                "name": "ELA",
                "id": "2:C",
                "badge": "https://ubistatic-a.akamaihd.net/0058/prod/assets/images/badge-ela.63ec2d26.png"
            },
            {
                "name": "LESION",
                "id": "3:B",
                "badge": "https://ubistatic-a.akamaihd.net/0058/prod/assets/images/badge-lesion.07c3d352.png"
            }
        ]
    }
%}

{% set rank = ranks[0] %}
{% set stat = stats[0] %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.13/moment-timezone-with-data-2012-2022.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="{{ url_for('static', filename='highcharts-dark-unica.js') }}"></script>
    <script type="text/javascript">
        Highcharts.setOptions({
            global: {
                timezone: 'America/New_York'
            }
        });
        var data = [
            {% for rank in ranks | reverse %}
                {
                    name: Date.parse('{{ rank["update_time"] }}'),
                    mmr: {{ rank["mmr"] }},
                },
            {% endfor %}
        ]
        Highcharts.stockChart('rank-chart', {
            xAxis: {
                title: { text: '' },
                visible: false,
                breaks: [],
            },
            yAxis: [
                {
                    lineWidth: 0,
                    lineColor: 'transparent',
                    gridLineWidth: 0,
                    gridLineColor: 'transparent',
                    minorGridLineWidth: 0,
                    alternateGridColor: null,
                    title: { text: '' },
                    minorTickLength: 0,
                    tickLength: 0,
                    minRange: 400,
                    plotBands: [
                        {
                            label: { verticalAlign: 'middle', text: 'Copper IV', style: { color: '#FDFDFD' } },
                            from: '0', to: '1400',
                            color: 'rgb(123, 43, 6)'
                        },
                        {
                            label: { verticalAlign: 'middle', text: 'Copper III', style: { color: '#FDFDFD' } },
                            from: '1400', to: '1499',
                            color: 'rgb(123, 43, 6)'
                        },
                        {
                            label: { verticalAlign: 'middle', text: 'Copper II', style: { color: '#FDFDFD' } },
                            from: '1500', to: '1599',
                            color: 'rgb(123, 43, 6)'
                        },
                        {
                            label: { verticalAlign: 'middle', text: 'Copper Star', style: { color: '#FDFDFD' } },
                            from: '1600', to: '1699',
                            color: 'rgb(123, 43, 6)'
                        },
                        {
                            label: { verticalAlign: 'middle', text: 'Bronze IV', style: { color: '#FDFDFD' } },
                            from: '1700', to: '1799',
                            color: 'rgb(187, 120, 66)'
                        },
                        {
                            label: { verticalAlign: 'middle', text: 'Bronze III', style: { color: '#FDFDFD' } },
                            from: '1800', to: '1899',
                            color: 'rgb(187, 120, 66)'
                        },
                        {
                            label: { verticalAlign: 'middle', text: 'Bronze II', style: { color: '#FDFDFD' } },
                            from: '1900', to: '1999',
                            color: 'rgb(187, 120, 66)'
                        },
                        {
                            label: { verticalAlign: 'middle', text: 'Bronze Star', style: { color: '#FDFDFD' } },
                            from: '2000', to: '2099',
                            color: 'rgb(187, 120, 66)'
                        },
                        {
                            label: { verticalAlign: 'middle', text: 'Silver IV', style: { color: '#FDFDFD' } },
                            from: '2100', to: '2199',
                            color: 'rgb(165, 165, 165)'
                        },
                        {
                            label: { verticalAlign: 'middle', text: 'Silver III', style: { color: '#FDFDFD' } },
                            from: '2200', to: '2299',
                            color: 'rgb(165, 165, 165)'
                        },
                        {
                            label: { verticalAlign: 'middle', text: 'Silver II', style: { color: '#FDFDFD' } },
                            from: '2300', to: '2399',
                            color: 'rgb(165, 165, 165)'
                        },
                        {
                            label: { verticalAlign: 'middle', text: 'Silver Star', style: { color: '#FDFDFD' } },
                            from: '2400', to: '2499',
                            color: 'rgb(165, 165, 165)'
                        },
                        {
                            label: { verticalAlign: 'middle', text: 'Gold IV', style: { color: '#FDFDFD' } },
                            from: '2500', to: '2699',
                            color: 'rgb(235, 174, 67)',
                            borderWidth: 1
                        },
                        {
                            label: { verticalAlign: 'middle', text: 'Gold III', style: { color: '#FDFDFD' } },
                            from: '2700', to: '2899',
                            color: 'rgb(235, 174, 67)',
                            borderWidth: 1
                        },
                        {
                            label: { verticalAlign: 'middle', text: 'Gold II', style: { color: '#FDFDFD' } },
                            from: '2900', to: '3099',
                            color: 'rgb(235, 174, 67)',
                            borderWidth: 1
                        },
                        {
                            label: { verticalAlign: 'middle', text: 'Gold Star', style: { color: '#FDFDFD' } },
                            from: '3100', to: '3299',
                            color: 'rgb(235, 174, 67)',
                            borderWidth: 1,
                        },
                        {
                            label: { verticalAlign: 'middle', text: 'Platinum III', style: { color: '#FDFDFD' } },
                            from: '3300', to: '3699',
                            color: 'rgb(236, 213, 176)'
                        },
                        {
                            label: { verticalAlign: 'middle', text: 'Platinum II', style: { color: '#FDFDFD' } },
                            from: '3700', to: '4099',
                            color: 'rgb(236, 213, 176)'
                        },
                        {
                            label: { verticalAlign: 'middle', text: 'Platinum Star', style: { color: '#FDFDFD' } },
                            from: '4100', to: '4499',
                            color: 'rgb(236, 213, 176)'
                        },
                        {
                            label: { verticalAlign: 'middle', text: 'Diamond', style: { color: '#FDFDFD' } },
                            from: '4500',
                            color: 'rgb(38, 190, 158)'
                        }
                    ],
                    labels: { enabled: false }
                }
            ],
            tooltip: {
                shared: true,
                xDateFormat: '%A, %b %e, %l:%M%p ET'
            },
            scrollbar: {
                enabled: false
            },
            rangeSelector: {
                selected: 0
            },
            plotOptions: {
                spline: {
                    marker: {
                        enabled: true
                    }
                }
            },
            series: [
                {
                    name: 'MMR',
                    yAxis: 0,
                    type: 'spline',
                    color: 'rgb(245, 245, 245)',
                    data: data.map((point) => { return [ point.name, point.mmr ]; })
                }
            ],
            legend: { enabled: false }
        });
        var statsdata = [
            {% for stat in stats | reverse %}
                {
                    name: Date.parse('{{ stat["update_time"] }}'),
                    rankedtime: {{ stat["rankedpvp_timeplayed:infinite"] }},
                    bulletsfired: [
                        {% for i in range(1,8) %}
                            {{ stat.get('weapontypepvp_bulletfired:{}:infinite'.format(i), 0) }},
                        {% endfor %}
                    ].reduce((a,b) => a+b, 0)
                },
            {% endfor %}
        ]
        Highcharts.stockChart('bullets-chart', {
            title: { text: 'Bullets per Second' },
            xAxis: {
                title: { text: '' },
                visible: false,
            },
            yAxis: [
                {
                    minRange: 0.01
                }
            ],
            tooltip: { xDateFormat: '%A, %b %e, %l:%M%p ET' },
            scrollbar: { enabled: false },
            rangeSelector: { selected: 2 },
            series: [
                {
                    name: 'Bullets/Sec',
                    type: 'spline',
                    color: 'rgb(245, 245, 245)',
                    data: statsdata.map(
                        (point) => {
                            console.log(point.bulletsfired / point.rankedtime)
                            return [
                                point.name,
                                point.bulletsfired / point.rankedtime
                            ];
                        }
                    )
                }
            ],
            legend: { enabled: false }
        });
        {% for type in operators %}
            Highcharts.chart('{{ type }}-operator-efficacy-chart', {
                chart: { type: 'scatter', zoomType: 'xy' },
                title: { text: '{{ type | title }} Operator Efficacy' },
                xAxis: { title: { text: 'Pick Rate (%)' } },
                yAxis: [{
                    gridLineWidth: 0,
                    title: { text: 'W/L Ratio' },
                }],
                tooltip: {
                    shared: true,
                    headerFormat: '<b>{point.key:%A, %b %e, %l:%M%p ET}</b><br>',
                    valueDecimals: 3
                },
                plotOptions: {
                    scatter: {
                        lineWidth: 3,
                        marker: {
                            radius: 5,
                            states: {
                                hover: {
                                    enabled: true,
                                    lineColor: 'rgb(100,100,100)'
                                }
                            }
                        },
                        states: {
                            hover: {
                                marker: {
                                    enabled: false
                                }
                            }
                        },
                        tooltip: {
                            headerFormat: '<b>{series.name}</b><br>',
                            pointFormat: '{point.x}% pick rate, {point.y} win rate'
                        }
                    }
                },
                series: [
                    {% for op in operators[type] %}
                        {
                            name: '{{ op['name'] }}',
                            data: [
                                [
                                    {{
                                        stat.get('operatorpvp_roundplayed:{}:infinite'.format(op['id']), 0) /
                                        (stat['operatorpvp_roundplayed:infinite'] + 1)
                                    }},
                                    {{
                                        stat.get('operatorpvp_roundwon:{}:infinite'.format(op['id']), 0) /
                                        (stat.get('operatorpvp_roundlost:{}:infinite'.format(op['id']), 0) + 1)
                                    }}
                                ],
                            ]
                        },
                    {% endfor %}
                ]
           });
        {% endfor %}
    </script>
    <script>
        $(function () {
            $("[data-toggle='tooltip']").tooltip();
        });
    </script>
{% endblock %}

{% block styles %}
    {{ super() }}
    <style type="text/css">
        @media (min-width: 768px){
            #profile-name {
                text-align: left;
            }
        }
    </style>
{% endblock %}

{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
    {%- if messages %}
      <div class="row">
        <div class="col-md-12">
            {{ utils.flashed_messages(messages) }}
        </div>
      </div>
    {%- endif %}
  {%- endwith %}
    <div class="row text-center">
        <div class="col-sm-2">
            <a href="#">
                <img class="img-thumbnail img-responsive" src="https://ubisoft-avatars.akamaized.net/{{ rank['profile_id'] }}/default_146_146.png?appId=39baebad-39e5-4552-8c25-2c9b919064e2" style="" alt="{{ rank['profile_id'] }}">
            </a>
        </div>
        <div id="profile-name" class="col-sm-4">
            <h2>{{ name }}</h2>
        </div>
        {% set rank_int = rank['rank'] | int %}
        <div class="col-sm-3">
            <img class="img-responsive center-block" src="{{ rank_icons[rank_int] }}" style="max-width:80px;">
            <h4>
                {{ rank_names[rank_int] }}
            </h4>
            <h4>
                µ: {{ rank['mmr'] | int }}
                <br>
                σ: {{ "{:.3f}".format(rank['skill_stdev']) }}
            </h4>
        </div>
        <div class="col-sm-3">
            <h4>W/L: {{ "{:.3f}".format(rank['wins'] / rank['losses']) }}</h4>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            <div id="rank-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>
    <div class="row text-center">
       {% for type in operators %}
            <div class="col-md-6">
                <div id="{{ type }}-operator-efficacy-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
       {% endfor %}
    </div>

    {% macro hrmin(sec) %}
        {{ '%02d' | format((sec / 3600) | int) }}h{{ '%02d' | format((sec / 60 % 60) | round | int) }}m
    {% endmacro %}

    <div class="row">
        <div class="col-xs-12">
            <h2>Operators</h2>
            {% for optype in operators %}
                <div class="table-responsive">
                    <table class="table table-condensed table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Operator</th>
                                <th>W/L</th>
                                <th>K/D</th>
                                <th>Kill Rate</th>
                                <th>Death Rate</th>
                                <th>Headshot Rate</th>
                                <th>Played</th>
                                <th>Time Played</th>
                                <th>XP</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for op in operators[optype] %}
                                <tr>
                                    <td><img class="img-responsive" width="48" src="{{ op['badge'] }}"> {{ op['name'] }}</td>
                                    <td>{{ (stat.get('operatorpvp_roundwon:{}:infinite'.format(op['id']), 0) / stat.get('operatorpvp_roundlost:{}:infinite'.format(op['id']), 1)) | round(2) }}</td>
                                    <td>{{ (stat.get('operatorpvp_kills:{}:infinite'.format(op['id']), 0) / stat.get('operatorpvp_death:{}:infinite'.format(op['id']), 1)) | round(2) }}</td>
                                    <td>{{ (stat.get('operatorpvp_kills:{}:infinite'.format(op['id']), 0) / stat.get('operatorpvp_roundplayed:{}:infinite'.format(op['id']), 1)) | round(2) }}</td>
                                    <td>{{ (stat.get('operatorpvp_death:{}:infinite'.format(op['id']), 0) / stat.get('operatorpvp_roundplayed:{}:infinite'.format(op['id']), 1)) | round(2) }}</td>
                                    <td>{{ (stat.get('operatorpvp_headshot:{}:infinite'.format(op['id']), 0) / stat.get('operatorpvp_roundplayed:{}:infinite'.format(op['id']), 1)) | round(2) }}</td>
                                    <td>{{ stat.get('operatorpvp_roundplayed:{}:infinite'.format(op['id']), 0) }}</td>
                                    {% set timeplayed = stat.get('operatorpvp_timeplayed:{}:infinite'.format(op['id']), 0) %}
                                    <td data-original-title="{{ timeplayed }}s" data-container="body" data-toggle="tooltip" data-placement="top">
                                        {{ hrmin(timeplayed) }}
                                    </td>
                                    <td>{{ stat.get('operatorpvp_totalxp:{}:infinite'.format(op['id']), 0) }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>Weapons</h2>
            <div id="bullets-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            <div class="table-responsive">
                <table class="table table-condensed table-hover table-striped">
                    <tr>
                        <th>Weapon</th>
                        <th>Chosen</th>
                        <th>Fired</th>
                        <th>Hit</th>
                        <th>Kills</th>
                        <th>Headshot</th>
                        <th>DBNO</th>
                        <th>DBNO Assist</th>
                        <th>Death</th>
                    </tr>

                    {% for i in range(1,8) %}
                        <tr>
                            <td>{{ weapon_names[i-1] }}</td>
                            <td>{{ stat.get('weapontypepvp_chosen:{}:infinite'.format(i), 0) }}</td>
                            <td>{{ stat.get('weapontypepvp_bulletfired:{}:infinite'.format(i), 0) }}</td>
                            <td>{{ stat.get('weapontypepvp_bullethit:{}:infinite'.format(i), 0) }}</td>
                            <td>{{ stat.get('weapontypepvp_kills:{}:infinite'.format(i), 0) }}</td>
                            <td>{{ stat.get('weapontypepvp_headshot:{}:infinite'.format(i), 0) }}</td>
                            <td>{{ stat.get('weapontypepvp_dbno:{}:infinite'.format(i), 0) }}</td>
                            <td>{{ stat.get('weapontypepvp_dbnoassists:{}:infinite'.format(i), 0) }}</td>
                            <td>{{ stat.get('weapontypepvp_death:{}:infinite'.format(i), 0) }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
 </div>
{%- endblock %}
